body {
	background-color: #eeeef0;
}
p {
	margin-block-start: 0.4em;
	margin-block-end: 0.4em;
}
h1 {
	margin-block-start: 0.3em;
	margin-block-end: 0.4em;
}


.wrapper {
	min-width: 480px;
	max-width: 960px;
	padding: 10px 20px 10px 20px;
	margin-left: auto;
	margin-right: auto;
	background-color: #ffffff;
	border-radius: 10px;
}

.inline-radio > div{
	display: inline-block;
}

textarea.form-control {
	resize: none;
	width: 100%;
}

input[type="text"].form-control {
	width: 100%;
}
input[type="number"].form-control {
	width: 100%;
}

table.detail-table {
	width: 96%;
	margin-left: auto;
	margin-right: auto;
	border: 1px solid #aaaaaa;
	table-layout: auto;
}

table.detail-table th {
	background-color: #f0c5aa;
	text-align: left;
	padding: 0.15em 0.4em 0.15em 0.4em;
}

.container {
	padding: 4px;
	margin-left: auto;
	margin-right: auto;
	display: flex;
	justify-content: center;
	gap: 10px;
}
