


.inline-radio > div{
	display: inline-block;
}

textarea.form-control {
	resize: none;
	width: 100%;
}

input[type="text"].form-control {
	width: 100%;
	box-sizing: border-box;
}
input[type="number"].form-control {
	width: 100%;
	box-sizing: border-box;
}

table.detail-table {
	width: 96%;
	margin-left: auto;
	margin-right: auto;
	border: 1px solid #aaaaaa;
	table-layout: auto;
}

table.detail-table th {
	background-color: #f0c5aa;
	text-align: left;
	padding: 0.15em 0.4em 0.15em 0.4em;
}

.container {
	padding: 4px;
	margin-left: auto;
	margin-right: auto;
	display: flex;
	justify-content: center;
	gap: 10px;
}
