/*
 * General Tags
 */

body {
	background-color: #eeeef0;
	margin: 0;
}

p {
	margin-block-start: 0.15em;
	margin-block-end: 0.4em;
}
h1 {
	margin-block-start: 0.15em;
	margin-block-end: 0.3em;
}
h2 {
	font-size: 1.5em;
	margin-block-start: 0em;
	margin-block-end: 0em;
}
h3 {
	margin-block-start: 0.3em;
	margin-block-end: 0.15em;
}
h4 {
	margin-block-start: 0.3em;
	margin-block-end: 0.15em;
}
a {
	text-decoration: none;
	font-weight: bold;
	color: #2A89E8;
}
a:hover {
	text-decoration: underline;
}

/*
 * Text Decoration
 */
.hint-text {
	cursor: help;
}

/*
 * Inline Structures
 */
.inline {
	display: flex;
	flex-direction: row;
	align-items: start;
	gap: 0.0em 0.4em;
	flex-wrap: nowrap;
}
.inline-flow {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 0.0em 0.4em;
	flex-wrap: wrap;
}
.text-item + .text-item {
	margin-left: 0.5em; /* 隣接する文字列アイテム間のマージン */
}

.right-align {
	text-align: right;
	margin-left: auto;
}

/*
 * Page Structure
 */
.wrapper {
	min-width: 480px;
	max-width: 960px;
	margin-left: auto;
	margin-right: auto;
	padding-left: 0.5em;
	padding-right: 0.5em;
}

/*
 * Header
 */
.header {
	padding: 5px 0em 5px 0em;
	display: flex;
	flex-direction: row;
	align-items: flex-end;
}
.logo {
	padding: 0px 6px;
}
.logo a {
	text-decoration: none;
	font-size: 24pt;
	color: #39CC8C;
	font-weight: bold;
}

.navigation {
	display: flex;
	flex-direction: row;
	margin: 0px 0px;
	padding: 4px 6px;
	flex-wrap: wrap;
}
.navigation > div {
	padding: 0px 10px;
}
.navigation > div {
	border-left: 1px solid #bbb;
}

/*
 * Content
 */
.content {
	margin: 0px 0em 0px 0em;
	padding: 15px 20px 15px 20px;
	background-color: #ffffff;
	border-radius: 10px;
	display: flex;
	flex-direction: column;
}
.breadcrumbs {
	margin: 0.2em 0.3em 0.75em 0.3em;
	font-size: 92%;
	color: #444;
}
.breadcrumbs a {
	font-weight: normal;
	color: #444;
}
.content-header {
	margin-block-start: 0em;
	margin-block-end: 0em;
	margin-bottom: 0.4em;
	align-items: end;
}
.content-title {
	margin-top: 0.2rem;
	margin-bottom: 0.2rem;
	font-size: 1.5em;
	font-weight: bold;
}

/*
 * Footer
 */
.footer {
	padding: 3px 20px 0px 20px;
}


/*
 * Text Decorations
 */
.text-delimiter {
	color: #888;
}
.invalid-data {
	color: #666;
}
.label {
	display: inline;
}



/*
 * Horizontal Panes
 */
.horizontal-panes {
	display: flex;
	flex-direction: row;
	gap: 1em;
}
.pane {
}
.fill-pane {
	flex-grow: 1;
}

/*
 * Tabs
 */
.tab-nav {
	overflow: hidden;
	border-bottom: 2px solid #aaa;
	margin-top: 0.4em;
	margin-bottom: 1em;
	padding-left: 0.4em;
	padding-right: 0.4em;
}
.tab-nav button {
	background-color: #fff;
	float: left;
	margin-left: 0.2em;
	margin-right: 0.2em;
	border: 1px solid #aaa;
	border-bottom: none;
	border-radius: 0.4em 0.4em 0px 0px;
	cursor: pointer;
	padding: 0.4em 0.6em;
	transition: 0.3s;
	font-size: 16px;
	transition: unset;
}
.tab-nav button:hover {
	background-color: #aaa;
}
.tab-nav button.active {
	border-color: #F0C5AA;
	background-color: #F0C5AA;
	font-weight: bold;
}
.tab-content {
	display: none;
	padding-top: 6px;
}


/* レシート画像 */
.receipt-image-frame {
	width: 240px;
	height: 320px;
	min-width: 240px;
	min-height: 320px;
	max-width: 240px;
	max-height: 320px;
}

/* 書籍のカバー画像 (カード内のサムネイル表示) */
.thumb-cover-frame {
	width: 120px;
	height: 160px;
	min-width: 120px;
	min-height: 160px;
	max-width: 120px;
	max-height: 160px;
	margin-top: auto;
	margin-bottom: auto;
}
/* 書籍のカバー画像 (詳細表示) */
.cover-frame {
	width: 240px;
	height: 320px;
	min-width: 240px;
	min-height: 320px;
	max-width: 240px;
	max-height: 320px;
}

/* Book Cover */
.receipt-image-frame > img,
.thumb-cover-frame > img,
.cover-frame > img {
	width: 100%;
	height: 100%;
	object-fit: contain;
}

/*
 * Tables
 */
table.detail-table {
	width: 96%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0.4em;
	margin-bottom: 0.4em;
	border: 1px solid #aaaaaa;
	table-layout: auto;
	background-color: white;
}

table.detail-table th {
	background-color: #f0c5aa;
	text-align: left;
	padding: 0.15em 0.4em 0.15em 0.4em;
}


/*
 * Form Items
 */

.inline-radio > div{
	display: inline-block;
}

textarea.form-control {
	resize: none;
	width: 100%;
	box-sizing: border-box;
}

input[type="text"].form-control {
	width: 100%;
	box-sizing: border-box;
}
input[type="number"].form-control {
	width: 100%;
	box-sizing: border-box;
}
input.invalid-input {
	box-shadow: 0 0 0 1px red;
}

.container {
	padding: 4px;
	margin-left: auto;
	margin-right: auto;
	display: flex;
	justify-content: center;
	gap: 10px;
}

/*
 * Item Card
 */
.item-card {
	padding-top: 12px;
	padding-bottom: 12px;
	display: block;

}
.item-card + .item-card {
	border-top: 1px solid grey;
}
.item-container {
	margin: 0.4em 0.0em 0.4em 0em;
	border-top: 1px solid grey;
	border-bottom: 1px solid grey;
}
.item-container.boxed {
	border: 1px solid #aaa;
	border-radius: 0.4em;
	background-color: #f9f9f9;
	padding: 0.4em;
	max-height: 300px;
	overflow-y: auto;

}
.card-field {
}
.card-control {
	margin-top: 0.2em;
	font-size: 95%;
}

/*
 * Item Detail
 */
.item-title {
	font-weight: bold;
	margin-bottom: 0.2em;
}

/*
 * Item Type Symbol
 */

.item-type-symbol {
	display: inline-block;
	padding: 0.05em 0.2em 0.05em 0.2em;
	border-radius: 0.4em;
	border-width: 1.5px;
	border-style: solid;
	font-weight: bold;
	font-size: 92%;
	color: #ffffff;
	background-color: #e3f;
	white-space: nowrap;
}
.purchase-acquisition-type {
	background-color: #ff8800;
}
.other-acquisition-type {
	background-color: #69BCCF;
}
.book-item-type {
	background-color: #39CC8C;
}
.other-item-type {
	background-color: #888;
}

.control-bar {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-top: 0.2em;
	margin-bottom: 0.2em;
}
.balloon-button {
	color: #555;
	display: flex;
	box-sizing: border-box;
	min-height: 32px;
	flex-direction: row;
	align-items: center;
	padding: 0.2em 0.4em;
	border: 1px solid #aaa;
	border-radius: 0.4em;
	background-color: #fff;
	font-weight: bold;
	font-size: 96%;
	text-decoration: none;
	white-space: nowrap;
}
.balloon-button:hover {
	background-color: #f0f0f0;
	text-decoration: none;
}
.balloon-icon {
	display: inline-block;
	width: 1.2em;
	height: 1.2em;
	background-size: contain;
	background-repeat: no-repeat;
	vertical-align: middle;
	margin-right: 0.2em;
}