{% extends 'records/base.html' %}

{% load static %}
{% load widget_tweaks %}

{% block title %}{% if is_new_record %}入手記録の新規作成{% else %}入手記録の編集{% endif %}{% endblock %}

{% block breadcrumbs %}
{% endblock %}

{% block content %}

<h2>{% if is_new_record %}入手記録の新規作成{% else %}入手記録の編集{% endif %}</h2>

<form method="post" enctype="multipart/form-data" onkeydown="return event.key != 'Enter';">
	{% csrf_token %}
	{% for hidden in acquisition_form.hidden_fields %}
		{{ hidden }}
	{% endfor %}

	<div>
		<h3>共通情報</h3>
		<table class="detail-table">
			<tbody>
			{% for field in acquisition_form.visible_fields %}
				<tr>
					<th>{{ field.label }}</th>
					<td>
						{{ field | add_class:"form-control"}}
						{% if field.errors %}
							<ul class="errorlist">
								{% for error in field.errors %}
									<li style="color: red;">{{ error }}</li>
								{% endfor %}
							</ul>
						{% endif %}
					</td>
				</tr>
			{% endfor %}

			</tbody>
		</table>
	</div>

	<h3>レシート画像からの自動入力</h3>
	<input type="file" id="receipt-image-upload" name="receipt_image_upload" accept="image/*">
	<button type="button" id="upload-receipt-button">画像をアップロードしてOCR処理</button>
	<div id="ocr-status" style="display: none; margin-top: 10px;">
		<span id="loading-indicator" style="display: none;">処理中...</span>
		<span id="ocr-result-message"></span>
	</div>
	<div id="ocr-isbns-display" style="margin-top: 10px;">
		<p>検出されたISBN:</p>
		<ul id="detected-isbns-list"></ul>
	</div>

	<div>
		<h3>項目内訳</h3>
		{{ item_formset.management_form }}

		<table id="items-container" class="detail-table">
			<!-- ヘッダの追加 -->
			{% for colname in item_columns %}
			<th>{{ colname }}</th>
			{% endfor %}

			<!-- 行の追加 -->
			{% for form in item_formset %}
			<tr class="acquired-item">
				{% for hidden in form.hidden_fields %}
					{{ hidden }}
				{% endfor %}

				{% for field in form.visible_fields %}
					<td>
						{{ field | add_class:"form-control"}}
					</td>
				{% endfor %}

				<td>
					<button type="button" class="delete-row-button">削除</button>
				</td>
			</tr>
			{% endfor %}
		</table>
	</div>

	<div class="container">
		<button id="submit-button" name="btn_submit" type="submit">登録</button>
		<button id="cancel-button" type="button" onclick="window.location.href='{{ cancel_url }}'">キャンセル</button>
	</div>
</form>
{% endblock %}

{% block extra_js %}
	<script type="module" src="{% static 'records/js/fuzzy-datetime/index.js' %}"></script>
	<script type="module" src="{% static 'records/js/acquisition_form.js' %}"></script>
	<script type="module" src="{% static 'records/js/receipt_ocr.js' %}"></script>
{% endblock %}