<!DOCTYPE html>

{% load static %}

<html lang="ja">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{% block title %}{% endblock %}{% block title_suffix %} - Livre Records{% endblock %}</title>
	<link rel="stylesheet" href="{% static 'records/style.css' %}">
	{% block extra_css %}{% endblock %}
</head>
<body>
	<div class="wrapper">
		<div class="header">
			<div class="logo"><a href="{% url 'records:index' %}">Livre Records</a></div>
			<div class="navigation">
				<div class="menu-item">
					<a href="{% url 'records:acquisition_list' %}">入手記録一覧</a>
				</div>
				<div class="menu-item">
					<a href="{% url 'records:book_list' %}">書籍一覧</a>
				</div>
				<div class="menu-item">
					<a href="{% url 'records:stats' %}">統計</a>
				</div>
			</div>
		</div>

		<div class="content">
			{% block breadcrumbs %}{% endblock %}

			{% block content %}
			{% endblock %}
		</div>

		<div class="footer">
			<p>&copy; 2025 Livre Records</p>
		</div>
	</div>

	{% block extra_js %}{% endblock %}
</body>
</html>