{% extends 'records/base.html' %}

{% load static %}
{% load widget_tweaks %}

{% block title %}書籍情報の編集{% endblock %}

{% block breadcrumbs %}
{% endblock %}

{% block content %}

<h2>{% if is_new_record %}書籍情報の新規登録{% else %}書籍情報の編集{% endif %}</h2>

<form method="post">
	{% csrf_token %}
	{% for hidden in book_form.hidden_fields %}
		{{ hidden }}
	{% endfor %}

	<div>
		<table class="detail-table">
			<tbody>
			{% for field in book_form.visible_fields %}
			<tr>
				<th>{{ field.label }}</th>
				<td>
					{{ field | add_class:"form-control"}}
					{% if field.errors %}
						<ul class="errorlist">
							{% for error in field.errors %}
								<li style="color: red;">{{ error }}</li>
							{% endfor %}
						</ul>
					{% endif %}
				</td>
			</tr>
			{% endfor %}

			</tbody>
		</table>
	</div>

	<div>
		<h3>著者</h3>
		{{ author_formset.management_form }}

		<table id="items-container" class="detail-table">
			<!-- ヘッダの追加 -->
			{% for colname in author_columns %}
			<th>{{ colname }}</th>
			{% endfor %}

			<!-- 行の追加 -->
			{% for form in author_formset %}
			<tr class="acquired-item">
				{% for hidden in form.hidden_fields %}
					{{ hidden }}
				{% endfor %}

				{% for field in form.visible_fields %}
					<td>
						{{ field | add_class:"form-control"}}
					</td>
				{% endfor %}

				<td>
					<button type="button" class="delete-row-button">削除</button>
				</td>
			</tr>
			{% endfor %}
		</table>
	</div>

	<div class="container">
		<button id="submit-button" name="btn_submit" type="submit">登録</button>
		<button id="cancel-button" type="button" onclick="window.location.href='{{ cancel_url }}'">キャンセル</button>
	</div>
</form>

{% endblock %}

{% block extra_js %}
	<script src="{% static 'records/book_form.js' %}"></script>
{% endblock %}