{% extends 'records/base.html' %}
{% load static %}
{% load record_extras %}

{% block title %}入手記録一覧{% endblock %}

{% block content %}

<h2>入手記録一覧</h2>

<a href="{% url 'records:obtain_edit' %}">
	<button>新規登録</button>
</a>


<div class="item-container">
	{% for record in records %}
		<div class="item-card">
			<div class="inline-flow">
				<div class=".card-field">
					<a href="{% url 'records:obtain_detail' record.id %}">
						{{ record.obtain_date_str |default:"&lt;日時未設定&gt;" }} @ {{ record.store_name |default:"&lt;店舗未設定&gt;" }}
					</a>
				</div>
			</div>
			<div class="inline-flow">
				<div>{{ record.total_quantity }}点</div>
				<div>合計金額 {{ record.total |currency_format:record.currency_code }}</div>
			</div>
			<div class="inline-flow">
				取引番号: {{ record.transaction_number| default:"-" }}
			</div>
		</div>
	{% empty %}
	<div>該当する記録がありません</div>
	{% endfor %}
</div>

{% endblock %}
