{% extends 'records/base.html' %}
{% load static %}
{% load record_extras %}

{% block title %}入手記録{% endblock %}

{% block content %}

<h2>入手記録詳細</h2>

<table class="detail-table">
	<tr>
		<th>入手方法</th>
		<td>{{ record.obtain_type_label }}</td>
	</tr>
	<tr>
		<th>日時</th>
		<td>{{ record.obtain_date_str|default:"-" }}</td>
	</tr>
	<tr>
		<th>店舗</th>
		<td>{{ record.store_name| default:"-" }}</td>
	</tr>
	<tr>
		<th>取引番号</th>
		<td>{{ record.transaction_number |default:"-" }}</td>
	</tr>
	<tr>
		<th>取引情報</th>
		<td>{{ record.transaction_context |default:"-" }}</td>
	</tr>
	<tr>
		<th>担当者</th>
		<td>{{ record.staff |default:"-" }}</td>
	</tr>
	<tr>
		<th>合計支払金額</th>
		<td>{{ record.total |currency_format:record.currency_code |default:"-" }}</td>
	</tr>
	</tr>
	<tr>
		<th>小計</th>
		<td>{{ record.subtotal |currency_format:record.currency_code |default:"-" }}</td>
	</tr>
	<tr>
		<th>税額</th>
		<td>{{ record.tax |currency_format:record.currency_code |default:"-" }}</td>
	</tr>
</table>

<div>
	更新日時: {{ record.updated_at |date:"Y/m/d H:i"  }}
</div>

{% endblock %}
